/* This is a style sheet! */
html,body
{
  /*margin:0;*/
  /*padding:0;*/
  /*height:100%;*/
  /*border:none*/
  /* font-family: sans-serif; */
  /*font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;*/
  /* font-style: normal; */
  /* font-variant: normal; */
  /* font-weight: normal; */
  /* font-size: small; */
  /*line-height: 100%;*/
  /*word-spacing: normal;*/
  /*letter-spacing: normal;*/
  /* text-decoration: none; */
  /* text-transform: none; */
  /*text-align: center;*/
  /*text-indent: 0px;*/

  /*font-family: "Voltaire";*/
  
    /*background-color:#D6D6D6;*/
}


/*table {
    border:none;
    border-width:0px;
}*/

pre {
    /*white-space:pre-line;
    border:2px solid black;*/
    background-color:#D6D6D6;
}

.LaTexEquation { 
  margin: 30px 30px 30px 30px;
  padding: 10px 10px 10px 10px;
  border-color: #666666;
  border-radius: 4px 4px 4px 4px;
  border-style: solid;
  border-width: 1px;
  background-color:#c3c3c3;
}

/*
a img{
  border:0px;
}*/

